{% extends 'config/default.html' %}

{% block title %}
Reject Feedback - {{ block.super }}
{% endblock title %}

{% block content %}
    <br>
    <h2><div><span style="color: #999999;"><strong>Feedback rejected!</strong></span></div></h2>
    <br>
    <div class="card text-center">
        <div class="card-body">
            <p class="card-text">
                 {{ text }}
            </p>
        </div>
    </div>
    <br>
    <input type=button value="Back" class="btn btn-secondary" onClick="history.go(-1);">
{% endblock content %}
